.loginForm {
    max-width: 300px;
}

.loginFormRememberPassword {
    float: left;
}

.loginFormForgot {
    float: right;
}

.loginFormButton {
    width: 100%;
}

.loginFormContact {
    float: left;
}