.page {
    height: 100%;
    overflow: hidden;
}

.pageHeader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-size: 600%;
    color: #47a5e9;
    font-family: "Impact",sans-serif;
}

.pageContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 180px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}

.pageFooter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}